# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Distribution / Packaging
build/
dist/
*.egg-info/
*.egg
.installed.cfg

# Poetry
poetry.lock

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
dmypy.json
dmypy.json.#

# Pytest
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debugging
*.log
*.out
*.err

# IDE / Editor configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Linting and formatting tools
ruff_cache/
*.lint
.black/
.isort.cfg

# Pre-commit hooks
.pre-commit-config.yaml
.pre-commit-hooks/
